@media screen and (min-width: 1200px) {
	.slider-template {
		margin: 0 -15px;
	  }
	  section.services.container-fluid {
		margin-bottom: 145px;
	  }
	  div.about-company .company-description {
		width: 555px;
	  }
	  div.about-company .company-description p {
		font-size: 18px;
		font-weight: 300;
		line-height: 170%;
	  }
	  section.questions {
		margin-top: 168px;
		margin-bottom: 157px;
	  }
	  section.questions .form-questions {
		margin-left: -27px;
	  }
	  section.cooperation .description-content_1 .img-cooperarion {
		margin-left: 29px;
	  }
	  section.cooperation .description-content_1 p {
		padding-bottom: 12px;
		margin-left: 11px;
	  }
	  section.cooperation .description-content_2 {
		margin-top: 54px;
	  }
	  section.cooperation .text-content {
		max-width: 528px;
		font-size: 17px;
		font-weight: 300;
		line-height: 156.5%;
	  }
}