@media screen and (max-width: 1390px) {
	.slider-template .slick-arrow.slick-prev {
		left: -60px;
	  }
	  .slider-template .slick-arrow.slick-next {
		right: -60px;
	  }
}

@media screen and (min-width: 1390px) {
	section.cooperation .description-content_1 .img-cooperarion {
		margin-left: 29px;
	  }
}