@media screen and (max-width: 1310px) {
	.slider-template {
		max-width: 750px;
		margin: 0 auto;
	  }
}

@media screen and (min-width: 1310px) {
	section.cooperation .description-content_1 .img-cooperarion {
		margin-left: 17px;
		max-width: none;
	  }
}