div.about-company {
	margin-top: -10px;
  }

  div.about-company .company-description p {
	padding-bottom: 10px;
  }

  div.about-company__img-box {
	position: absolute;
	margin-top: -160px;
  }
  
  div.about-company__img-box .container {
	position: relative;
  }