.description-content_1 {
	margin-top: 85px;
  }
  
  .description-content_2 {
	margin-bottom: 5px;
  }
  .description-content_2 p {
	margin-top: 24px;
	margin-bottom: 34px;
  }
  
  .img-cooperarion {
	border-radius: 20px;
  }