.description-content_1 {
	margin-top: 85px;
  }
  
  .description-content_2 {
	margin-bottom: 5px;
  }
  .description-content_2 p {
	margin-top: 24px;
	margin-bottom: 34px;
  }
  
  .img-cooperarion {
	border-radius: 20px;
	max-width: 100%;
  }
  .cooperation-text,
  .cooperation-text-2 {

	ul {
		padding-left: 0;
	}
  }

  .cooperation-text-2 {
	padding-left: 20px;
  }