.questions {
	margin-top: 50px;
  }
  .questions .form-questions {
	max-width: 390px;
	height: 553px;
	background-color: #363A4D;
	border-radius: 10px;
  }
  .questions .form-questions .form-title {
	line-height: 126%;
	font-weight: 700;
	font-size: 24px;
  }
  .questions .form-questions .form-description {
	line-height: 126%;
	font-size: 17px;
  }
  .questions .form-questions .input-column {
	padding-bottom: 38px;
  }
  .questions .accordion-questions .accordion-item {
	max-width: 716px;
	border: 1px solid #3A444E;
	margin-bottom: 16px;
	border-radius: 10px;
  }
  .questions .accordion-questions .accordion-button.collapsed {
	background-color: #282B38;
	color: #FFF;
	max-height: 64px;
	line-height: 144.5%;
	border-radius: 10px;
	border: 1px solid #3A444E;
  }
  .questions .accordion-questions .accordion-button::after {
	content: "";
	margin-left: auto;
	background-image: url(assets/img/accordion-arrow-white.svg);
	background-repeat: no-repeat;
	background-size: 27px;
	height: 30px;
	width: 28px;
  }
  .questions .accordion-questions .accordion-button:focus {
	border-color: transparent;
	box-shadow: none;
  }
  .questions .accordion-questions .accordion-button:hover {
	border-color: #E58D35;
  }
  .questions .accordion-questions .accordion-button:not(.collapsed) {
	color: #282B38;
	line-height: 124.5%;
	border-radius: 10px;
	background: #FFF;
	box-shadow: none;
  }

  .questions .accordion-questions .accordion .accordion-item .accordion-button:not(.collapsed)::after {
	background-image: url(assets/img/accordion-arrow-orange.svg);
	background-repeat: no-repeat;
	transform: rotate(0deg) translate(17px, 2px);
  }
  
  .questions .accordion-questions .accordion-body {
	color: #282B38;
	line-height: 144.5%;
  }
