</main>
<footer>
	<div class="container">
	  <div class="row row-infotmation">
		<div class="col-lg-3">
		  <div class="information-logo">
			<img src="assets/img/logo.svg" class="logo" alt="logo" />
		  </div>
		  <div class="information-column">
			<h4>8(800)600-18-69</h4>
			<a href="#">info@cargoasia.info</a>
			<h4>Адрес в Китае:</h4>
			<h4>
			  浙江省金华市义乌市后宅街道洪华小区5 栋一单元一楼RT789库房 高建军
			  电话15966660379
			</h4>
			<div class="social">
			  <img
				src="assets/img/instagram.svg"
				class="social-media media-1"
				alt="instagram"
			  />
			  <img
				src="assets/img/vkontakte.svg"
				class="social-media media-2"
				alt="vk"
			  />
			  <img
				src="assets/img/telegram.svg"
				class="social-media media-3"
				alt="telegram"
			  />
			</div>
		  </div>
		</div>

		<div class="col-lg-3">
		  <div class="column-links box-1">
			<h3>Грузоперевозки</h3>
			<a href="#">Цены и сроки</a>
			<a href="#">Услуги</a>
			<a href="#">О компании</a>
			<a href="#">Контакты</a>
			<a href="#">Оформить груз</a>
		  </div>
		</div>

		<div class="col-lg-3">
		  <div class="column-links box-2">
			<h3>Услуги</h3>
			<a href="#">Выкуп товара</a>
			<a href="#">Страховка груза</a>
			<a href="#">Аренда склада</a>
			<a href="#">Перевод денежных средств</a>
		  </div>
		</div>

		<div class="col-lg-3">
		  <div class="column-links box-3">
			<h3>Информация</h3>
			<a href="#">Отзывы</a>
			<a href="#">Требования к грузу</a>
			<a href="#">Договор-оферта</a>
			<a href="#">Как заключить договор</a>
			<a href="#">Способы оплаты услуг</a>
			<a href="#">Документы</a>
			<a href="#">Статьи</a>
		  </div>
		</div>
	  </div>
	</div>
  </footer>
<script src="assets/js/jquery-3.7.0.min.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/jquery.fancybox.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/custom.js"></script>
</body>
</html>