<section class="questions">
	<div class="container">
	  <div class="template-title">
		<h2>Часто задаваемые вопросы</h2>
	  </div>
	  <div class="row">
		<div class="col-lg-8">
		  <div class="accordion-questions">
			<div
			  class="accordion accordion-flush"
			  id="accordionFlushExample"
			>
			  <div class="accordion-item">
				<h2 class="accordion-header" id="flush-headingOne">
				  <button
					class="accordion-button collapsed"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#flush-collapseOne"
					aria-expanded="false"
					aria-controls="flush-collapseOne"
				  >
					Как рассчитывается стоимость доставки?
				  </button>
				</h2>
				<div
				  id="flush-collapseOne"
				  class="accordion-collapse collapse"
				  data-bs-parent="#accordionFlushExample"
				>
				  <div class="accordion-body">
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Architecto, labore. Nulla accusantium ad excepturi
					delectus voluptas laudantium iste magni soluta.
				  </div>
				</div>
			  </div>

			  <div class="accordion-item">
				<h2 class="accordion-header" id="flush-headingTwo">
				  <button
					class="accordion-button collapsed"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#flush-collapseTwo"
					aria-expanded="false"
					aria-controls="flush-collapseTwo"
				  >
					Как происходит оплата за доставку груза?
				  </button>
				</h2>
				<div
				  id="flush-collapseTwo"
				  class="accordion-collapse collapse"
				  data-bs-parent="#accordionFlushExample"
				>
				  <div class="accordion-body">
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Numquam odio veritatis assumenda. Natus velit similique
					quos sed ea iste aut.
				  </div>
				</div>
			  </div>

			  <div class="accordion-item">
				<h2 class="accordion-header" id="flush-headingThree">
				  <button
					class="accordion-button collapsed"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#flush-collapseThree"
					aria-expanded="false"
					aria-controls="flush-collapseThree"
				  >
					Как происходит оплата за доставку груза?
				  </button>
				</h2>
				<div
				  id="flush-collapseThree"
				  class="accordion-collapse collapse"
				  data-bs-parent="#accordionFlushExample"
				>
				  <div class="accordion-body">
					Lorem, ipsum dolor sit amet consectetur adipisicing
					elit. Perferendis quia sunt illo qui asperiores officia
					exercitationem alias voluptate accusamus corrupti?
				  </div>
				</div>
			  </div>

			  <div class="accordion-item">
				<h2 class="accordion-header" id="flush-headingTFour">
				  <button
					class="accordion-button collapsed"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#flush-collapseFour"
					aria-expanded="false"
					aria-controls="flush-collapseFour"
				  >
					Можно ли через вас оплатить товар поставщику?
				  </button>
				</h2>
				<div
				  id="flush-collapseFour"
				  class="accordion-collapse collapse"
				  aria-labelledby="flush-headingFour"
				  data-bs-parent="#accordionFlushExample"
				>
				  <div class="accordion-body">
					Да, мы предоставляем такую услугу, мы можем взять оплату
					товара в Китае на себя. Если у вас нет валютного счёта,
					то можете оплатить товар в гривнах на наш счет.
				  </div>
				</div>
			  </div>

			  <div class="accordion-item">
				<h2 class="accordion-header" id="flush-headingTFive">
				  <button
					class="accordion-button collapsed"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#flush-collapseFive"
					aria-expanded="false"
					aria-controls="flush-collapseFive"
				  >
					В чём особенность КАРГО доставки из Китая
				  </button>
				</h2>
				<div
				  id="flush-collapseFive"
				  class="accordion-collapse collapse"
				  data-bs-parent="#accordionFlushExample"
				>
				  <div class="accordion-body">
					Lorem ipsum, dolor sit amet consectetur adipisicing
					elit. Distinctio, corrupti? Reiciendis iste eius
					cupiditate ad laboriosam aspernatur consequuntur. Est,
					maxime?
				  </div>
				</div>
			  </div>

			  <div class="accordion-item">
				<h2 class="accordion-header" id="flush-headingSix">
				  <button
					class="accordion-button collapsed"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#flush-collapseSix"
					aria-expanded="false"
					aria-controls="flush-collapseSix"
				  >
					Какой срок доставки из Китая?
				  </button>
				</h2>
				<div
				  id="flush-collapseSix"
				  class="accordion-collapse collapse"
				  aria-labelledby="flush-headingSix"
				  data-bs-parent="#accordionFlushExample"
				>
				  <div class="accordion-body">
					Lorem ipsum, dolor sit amet consectetur adipisicing
					elit. Laboriosam nobis cum magnam quo repellat
					praesentium voluptatum, totam eveniet magni culpa.
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>

		<div class="col-lg-4">
		  <form class="form-questions">
			<div class="form-title">Остались вопросы?</div>
			<div class="form-description">
			  Оставьте заявку и наш менеджер ответит вам в ближайшее время
			</div>
			<div class="input-column">
			  <div class="input-box">
				<label for="name"></label>
				<input
				  type="name"
				  id="name"
				  name="name"
				  placeholder="Имя*"
				/>
			  </div>

			  <div class="input-box">
				<label for="number"></label>
				<input
				  type="number"
				  id="number"
				  name="number"
				  placeholder="Телефон*"
				/>
			  </div>

			  <div class="input-box">
				<label for="email"></label>
				<input
				  type="email"
				  id="email"
				  name="email"
				  placeholder="E-mail"
				/>
			  </div>

			  <div class="input-box">
				<label for="text"></label>
				<input
				  type="text"
				  id="text"
				  name="text"
				  placeholder="Ваш вопрос"
				/>
			  </div>

			  <div class="input-box">
				<button type="button" class="btn btn-primary btn-lg">
				  Отправить запрос<img
					src="assets/img/arrow-circle-right.svg"
					class="icon"
					alt="icon"
				  />
				</button>
			  </div>
			</div>
		  </form>
		</div>
	  </div>
	</div>
  </section>